/*****************
FONTS & TYPOGRAPHY
*****************/

h1, h2, h3, ul, #correctAnswer, #score {
	font-family: 'Permanent Marker', Helvetica, Arial, sans-serif; 
}

h1 {
	font-size: 3em;
	text-align: center;
}

#questionNumber {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

li, #score {
	font-size: 1.4em;
}

#correctAnswer {
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 20px;
	color: #c0392b;
}

/*****************
POSITIONING
*****************/

h1 {
	margin-top: 15px;
	margin-bottom: 30px;
}

#questionNumber {
	text-align: center;
	margin-bottom: 20px;
}

#questionText {
	text-align: center;
	margin-bottom: 20px;
}

#choices {
	margin-top: 10px;
	margin-bottom: 35px;
	margin-left: 250px;
	padding-top: 15px;
}

li {
	padding-top: 15px;
}

#score {
	text-align: center;
	margin: 50px 0px 40px 0px;
}

/*****************
IMAGES
*****************/

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: auto;
}

#image-box {
	width: 150px;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#img-placeholder {
	display: none;
}

img {
	width: auto;
	height: 250px;
	display: block;
	margin-left: -60px;
	margin-right: auto;
	margin-top: 0;
}

/*****************
BUTTON STYLES 
*****************/

#submit, #next, #start, #restart {
	background-color: #c0392b;
	color: #FFE;
	font-family: 'Permanent Marker', Helvetica, Arial, sans-serif; 
	border-radius: 6px;
	font-size: 1.1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 4px 6px 4px 6px;
}

h2, h3, ul, #correctAnswer {
	display: block;
}

#start, #restart #submit, #score {
	display: block;
}

#next {
	margin-bottom: 30px;
}

#restart, #submit, #next {
	margin-top: 50px;
	text-align: center;
}